<app-user-navbar></app-user-navbar>
<div class="app-body">
    <app-user-sidebar></app-user-sidebar>
    <main class="main">
        <app-user-breadcrumb></app-user-breadcrumb>
        <div class="container-fluid">
            <div id="ui-view">
                <div>
                    <div class="animated fadeIn">
                        <div class="card card-default">
                            <div class="card-header">
                                <div class="panel-heading">Inbox</div>
                                <div class="card-header-actions">
                                    <div class="priority"> <span class="priority-normal"> <i
                                                class="fa fa-circle text-info"></i> <strong>Normal</strong> </span>
                                        <span class="priority-medium"> <i class="fa fa-circle text-success"></i>
                                            <strong>Medium </strong></span> <span class="priority-high"> <i
                                                class="fa fa-circle text-danger"></i> <strong>High </strong></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <div class="email-app mb-4">

                                            <main class="inbox">
                                                <div class="toolbar">
                                                    <div class="btn-group">
                                                        <button title="Select All" class="btn btn-light" type="button">
                                                            <input type="checkbox" (change)="isSelected = !isSelected" (click)="alltotrash($event)">
                                                        </button>
                                                    </div>
                                                    <button (click)="deleteSelected()" title="Trash"
                                                        class="btn btn-light" type="button"> <span
                                                            class="fa fa-trash-o"></span> </button>
                                                    <button title="Move to Archive" class="btn btn-light" type="button">
                                                        <span class="fa fa-file-archive-o"></span> </button>
                                                </div>
                                                <ul class="messages search-result">
                                                    <li class="message" *ngFor="let k of allmails;index as i">
                                                        <div class="actions"> <span class="action">
                                                                <!-- <input type="checkbox" [checked]="k.checked"
                                                                        (change)="onChange($event, i, k)"> -->
                                                                <!-- <input type="checkbox" [checked]="isSelected"
                                                                        (click)="selectID(k.mailId,$event)"> -->
                                                                <input name="MailId" type="checkbox"
                                                                    [checked]="isSelected"
                                                                    (change)="FieldsChange($event,k.mailId)">
                                                            </span>
                                                            <span class="priority-high action" [ngSwitch]="k.priority">
                                                                <i *ngSwitchCase="'0'"
                                                                    class="fa fa-circle text-info"></i>
                                                                <i *ngSwitchCase="'1'"
                                                                    class="fa fa-circle text-success"></i>
                                                                <i *ngSwitchCase="'2'"
                                                                    class="fa fa-circle text-danger"></i>
                                                                <i *ngSwitchDeafult class="fa fa-circle text-white"></i>
                                                            </span>
                                                        </div>
                                                        <a href="#">
                                                            <div class="header"><span
                                                                    class="user-icon iconBg1">{{getShortName(k.userName|uppercase)}}</span>
                                                                <span class="from">{{k.userName}}</span> <span
                                                                    class="date"><span class="fa fa-bookmark-o"></span>
                                                                    <span class="fa fa-paper-clip"></span>
                                                                    {{k.postDate|date}}
                                                                </span> </div>
                                                            <div class="title">
                                                                <strong>{{k.subject}}</strong></div>
                                                            <div class="description"
                                                                innerHTML="{{k.message.substring(0,150)}}">
                                                            </div>
                                                        </a>
                                                    </li>


                                                </ul>
                                            </main>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>