@charset "utf-8";
/* CSS Document */

.list ul li:before {
    content: "\f0c8";
    position: absolute;
    left: 3px;
    font-family: FontAwesome;
    color: #bb3245;
    font-size: 6px;
    margin-top: 3px;
}

.list ul li {
    padding: 6px 0px 6px 15px;
    position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: 36% 15% 15% 14% 10% 10%;
  grid-gap: 0px;
  margin-bottom:15px;
  }
.grid-container > .cell {
  border: 1px solid #9e9e9e;
  text-align: left;
  font-size: 14px;
 }
 .badge-yellow {
    color: #c09005;
    background-color: rgba(252,197,37,.15);
    display: block;
    padding: 3px 5px;
    border-radius: 0px;
    margin: 0px 0px;
}
.badge-green {
    color: #008249;
    background-color: rgba(21,195,119,.15);
    display: block;
    padding: 3px 5px;
    border-radius: 0px;
    margin: 0px 0px;
}
.badge-red {
    color: #d52a2a;
    background-color: rgba(249,104,104,.15);
    display: block;
    padding: 3px 5px;
    border-radius: 0px;
    margin: 0px 0px;
}
.defaultSkin iframe {
    background: transparent !important;
}


.mb-pagination *,.mb-pagination :after,.mb-pagination :before{box-sizing:border-box}.mb-pagination{font-size:14px;font-family:sans-serif;padding-left:0;margin:10px 0}.mb-pagination li{display:inline-block;border: 1px solid #b3b3b3;}.mb-pagination li:not(:last-child){border-right:0}.mb-pagination li>*{padding:3px 10px;display:block;color:#333}.mb-pagination a,.mb-pagination span{position:relative;padding:4px 12px;line-height:1.43;color:#000;text-decoration:none;background-color:#fff}.mb-pagination a:hover{background:#eee}.mb-pagination li.active{border-color: #b3b3b3;}.mb-pagination .active a{background: #dedede;color: #0a0a0a;pointer-events:none;}.non-number-li.disabled a{background:#f7f7f7;pointer-events:none}