<app-navbar></app-navbar>
<div class="app-body">
    <app-sidebar></app-sidebar>
    <main class="main">
        <app-bredcrum></app-bredcrum>
        <div class="container-fluid">
            <div id="ui-view">
                <div>
                    <div class="animated fadeIn">
                        <div class="card card-default">
                            <div class="card-header">
                                <div class="panel-heading">Dashboard</div>
                                <div class="card-header-actions"> </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6 col-md-3"> <a routerLink="/managegroup">
                                            <div class="card text-white bg-info">
                                                <div class="card-body">
                                                    <div class="h1 text-muted text-right mb-4"> <i
                                                            class="icon-people"></i> </div>
                                                    <div class="text-value">Manage Group </div>
                                                </div>
                                            </div>
                                        </a> </div>
                                    <div class="col-sm-6 col-md-3"> <a routerLink="/manageuser">
                                            <div class="card text-white bg-success">
                                                <div class="card-body">
                                                    <div class="h1 text-muted text-right mb-4"> <i
                                                            class="icon-user-follow"></i> </div>
                                                    <div class="text-value">Manage User </div>
                                                </div>
                                            </div>
                                        </a> </div>
                                    <div class="col-sm-6 col-md-3"> <a href="frmManageuserList.aspx">
                                            <div class="card text-white bg-warning">
                                                <div class="card-body">
                                                    <div class="h1 text-muted text-right mb-4"> <i
                                                            class="icon-list"></i> </div>
                                                    <div class="text-value">User List</div>
                                                </div>
                                            </div>
                                        </a> </div>
                                    <div class="col-sm-6 col-md-3"> <a href="frmResetPassword.aspx">
                                            <div class="card text-white bg-primary">
                                                <div class="card-body">
                                                    <div class="h1 text-muted text-right mb-4"> <i
                                                            class="icon-lock"></i> </div>
                                                    <div class="text-value">Reset Password</div>
                                                </div>
                                            </div>
                                        </a> </div>
                                    <div class="col-sm-6 col-md-3"> <a href="frmLastLoginRpt.aspx">
                                            <div class="card text-white bg-danger">
                                                <div class="card-body">
                                                    <div class="h1 text-muted text-right mb-4"> <i
                                                            class="icon-login"></i> </div>
                                                    <div class="text-value">Last Login Report</div>
                                                </div>
                                            </div>
                                        </a> </div>
                                    <div class="col-sm-6 col-md-3"> <a href="frmViewMessageRpt.aspx">
                                            <div class="card text-white bg-primary">
                                                <div class="card-body">
                                                    <div class="h1 text-muted text-right mb-4"> <i
                                                            class="icon-speech"></i> </div>
                                                    <div class="text-value">View Message Report</div>
                                                </div>
                                            </div>
                                        </a> </div>
                                    <div class="col-sm-6 col-md-3"> <a href="frmMessageCounterReport.aspx">
                                            <div class="card text-white bg-info">
                                                <div class="card-body">
                                                    <div class="h1 text-muted text-right mb-4"> <i
                                                            class="icon-note"></i> </div>
                                                    <div class="text-value">Sent &amp; Received Statistics</div>
                                                </div>
                                            </div>
                                        </a> </div>
                                    <div class="col-sm-6 col-md-3"> <a href="frmUsedNotUsedUserReport.aspx">
                                            <div class="card text-white bg-success">
                                                <div class="card-body">
                                                    <div class="h1 text-muted text-right mb-4"> <i
                                                            class="icon-speech"></i> </div>
                                                    <div class="text-value">Used or Not Used Users</div>
                                                </div>
                                            </div>
                                        </a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>