<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item active" routerLinkActive="active"><a class="nav-link " routerLink="/dashboard"><i
            class="nav-icon icon-speedometer"></i>Dashboard
        </a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/admininbox"><i class="nav-icon icon-envelope"></i>Inbox
          <span class="badge badge-info"> 5 </span></a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/admincompose"><i class="nav-icon icon-share-alt"></i>Compose
          Message <span class="badge badge-info">New</span></a></li>
      <li class="nav-item"><a class="nav-link " href="send-message.html"><i
            class="nav-icon icon-envelope-letter"></i>Sent
          Message <span class="badge badge-info">09</span></a></li>

      <!-- <li class="nav-item"><a class="nav-link" href="frmChangePassword.aspx"><i class="nav-icon icon-cursor"></i>Change Password</a></li>-->
      <li class="nav-item"> <a class="nav-link" href="#"> <i class="nav-icon fa fa-bookmark-o"></i>Important <span
            class="badge badge-info">5</span></a></li>
      <li class="nav-item"> <a class="nav-link" href="#"> <i class="nav-icon icon-folder-alt"></i>Draft <span
            class="badge badge-info">5</span></a></li>
      <li class="nav-item"><a class="nav-link " href="archive.html"><i class="nav-icon icon-note"></i>Archive
          <span class="badge badge-danger">02</span></a></li>
      <li class="nav-item"><a class="nav-link" href="#"><i class="nav-icon icon-trash"></i>Trash<span
            class="badge badge-warning">28</span></a></li>
    </ul>
    <!-- <ul class="nav">
      <li class="nav-item" routerLinkActive="active"><a class="nav-link " routerLink="/dashboard"><i
            class="nav-icon icon-speedometer"></i>Dashboard
        </a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/managegroup"><i
            class="nav-icon icon-people"></i>Manage
          Group </a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/manageuser"><i
            class="nav-icon icon-speech"></i>Manage
          User </a></li>
      <li class="nav-item"><a class="nav-link" href="new-broad-cost.html"><i class="nav-icon fa fa-bullhorn"></i>New
          Broadcast</a></li>
      <li class="nav-item"><a class="nav-link" href="broadcast-message-statics-report.html"><i
            class="nav-icon fa fa-bullhorn"></i>Broadcast Message Statistics Report</a></li>

      <li class="nav-item"><a class="nav-link" href="manage-list.html"><i class="nav-icon icon-list"></i>User
          List</a></li>
      <li class="nav-item"><a class="nav-link" href="reset-password.html"><i class="nav-icon icon-lock"></i>Reset
          Password</a></li>
      <li class="nav-item"><a class="nav-link" href="last-login-report.html"><i class="nav-icon icon-login"></i>Last
          Login Report</a></li>
      <li class="nav-item"><a class="nav-link action" href="view-msg-report.html"><i class="nav-icon icon-note"></i>View
          Message Report</a></li>
      <li class="nav-item"><a class="nav-link" href="sent-receive-messages-statics-report.html"><i
            class="nav-icon icon-paper-plane"></i>Sent &amp; Received Statistics</a></li>
      <li class="nav-item"><a class="nav-link" href="frmUsedNotUsedUserReport.aspx"><i
            class="nav-icon icon-user-unfollow"></i>Used or Not Used Users</a></li>
    </ul> -->
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"> </button>
</div>