<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/inbox"><i
                        class="nav-icon icon-envelope"></i>Inbox
                    <span class="badge badge-info"> 5 </span></a></li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/compose"><i
                        class="nav-icon icon-share-alt"></i>Compose
                    Message <span class="badge badge-info">New</span></a></li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/sent"><i
                        class="nav-icon icon-envelope-letter"></i>Sent
                    Message <span class="badge badge-info">09</span></a></li>
            <li class="nav-item" routerLinkActive="active"> <a class="nav-link" routerLink="/important"><i
                        class="nav-icon fa fa-bookmark-o"></i>Important
                    <span class="badge badge-info">5</span></a></li>
            <li class="nav-item" routerLinkActive="active"> <a class="nav-link" routerLink="/draft"><i
                        class="nav-icon icon-folder-alt"></i>Draft
                    <span class="badge badge-info">5</span></a></li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/archive"><i
                        class="nav-icon fa fa-file-archive-o"></i>Archive
                    <span class="badge badge-danger">02</span></a></li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/trash"><i
                        class="nav-icon icon-trash"></i>Trash
                    <span class="badge badge-warning">28</span></a></li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" href="assets/user_manual.pdf"
                    target="_blank"><i class="nav-icon icon-user"></i>User
                    Manual</a></li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/user"><i
                        class="nav-icon icon-power"></i>Sign
                    Out</a></li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"> </button>
</div>