<app-user-navbar></app-user-navbar>
<div class="app-body">
    <app-user-sidebar></app-user-sidebar>
    <main class="main">
        <app-user-breadcrumb></app-user-breadcrumb>
        <div class="container-fluid">
            <div id="ui-view">
                <div>
                    <div class="animated fadeIn">
                        <div class="card card-default">
                            <div class="card-header">
                                <div class="panel-heading">Sent Message</div>
                                <div class="card-header-actions">
                                    <div class="priority"> <span class="priority-normal"> <i
                                                class="fa fa-circle text-info"></i> <strong>Normal</strong> </span>
                                        <span class="priority-medium"> <i class="fa fa-circle text-success"></i>
                                            <strong>Medium </strong></span> <span class="priority-high"> <i
                                                class="fa fa-circle text-danger"></i> <strong>High </strong></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <select name="ctl00$ContentPlaceHolder1$ddlSearchCond"
                                            id="ctl00_ContentPlaceHolder1_ddlSearchCond" class="form-control"
                                            onchange="setDatePicker()">
                                            <option selected="selected" value="0">ALL</option>
                                            <option value="1">By Subject</option>
                                            <option value="2">By Remark</option>
                                            <option value="3">By Post Date</option>
                                            <option value="4">By Office Name</option>
                                            <option value="5">Urgent Message</option>

                                        </select>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <input name="ctl00$ContentPlaceHolder1$txtSearch" type="text"
                                            id="ctl00_ContentPlaceHolder1_txtSearch" class="form-control">
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <input name="ctl00$ContentPlaceHolder1$txtSearch2" type="text"
                                            id="ctl00_ContentPlaceHolder1_txtSearch2" class="form-control">
                                    </div>
                                    <span id="ctl00_ContentPlaceHolder1_lblFrom" style="display: none;">From</span>

                                    <span id="ctl00_ContentPlaceHolder1_lblTo" style="display: none;">To</span>

                                    <div class="form-group col-sm-2">
                                        <input type="submit" name="ctl00$ContentPlaceHolder1$btnSearch" value="Search"
                                            id="ctl00_ContentPlaceHolder1_btnSearch"
                                            class="btn btn-square btn-block btn-primary active">
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="email-app mb-4">
                                            <!--<nav>
            <a class="btn btn-danger btn-block" href="page-inbox-compose.html">New Email</a>
            <ul class="nav">
            <li class="nav-item">
            <a class="nav-link" href="#">
            <i class="fa fa-inbox"></i> Inbox
            <span class="badge badge-danger">4</span>
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">
            <i class="fa fa-star"></i> Stared</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">
            <i class="fa fa-rocket"></i> Sent</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">
            <i class="fa fa-trash-o"></i> Trash</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">
            <i class="fa fa-bookmark"></i> Important
            <span class="badge badge-info">5</span>
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">
            <i class="fa fa-inbox"></i> Inbox
            <span class="badge badge-danger">4</span>
            </a>
            </li>
            </ul>
            </nav>-->
                                            <main class="inbox">
                                                <div class="toolbar">
                                                    <div class="btn-group">
                                                        <button title="Select All" class="btn btn-light" type="button">
                                                            <input type="checkbox" value="check1">
                                                        </button>
                                                        <!--<button class="btn btn-light" type="button"> <span class="fa fa-star"></span> </button>
                                      <button class="btn btn-light" type="button"> <span class="fa fa-star-o"></span> </button>
                                      <button class="btn btn-light" type="button"> <span class="fa fa-bookmark-o"></span> </button>-->
                                                    </div>
                                                    <!--<div class="btn-group">
                                      <button title="Reply" class="btn btn-light" type="button"> <span class="fa fa-mail-reply"></span> </button>
                                      <button title="Reply All" class="btn btn-light" type="button"> <span class="fa fa-mail-reply-all"></span> </button>
                                      <button title="forward" class="btn btn-light" type="button"> <span class="fa fa-mail-forward"></span> </button>
                                    </div>-->
                                                    <button title="Trash" class="btn btn-light" type="button"> <span
                                                            class="fa fa-trash-o"></span> </button>
                                                    <button title="Move to Archive" class="btn btn-light" type="button">
                                                        <span class="icon-note"></span> </button>
                                                    <!--<div class="btn-group">
                                      <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown"> <span class="fa fa-tags"></span> <span class="caret"></span> </button>
                                      <div class="dropdown-menu"> <a class="dropdown-item" href="#">add label <span class="badge badge-danger"> Home</span> </a> <a class="dropdown-item" href="#">add label <span class="badge badge-info"> Job</span> </a> <a class="dropdown-item" href="#">add label <span class="badge badge-success"> Clients</span> </a> <a class="dropdown-item" href="#">add label <span class="badge badge-warning"> News</span> </a> </div>
                                    </div>-->
                                                    <!--<div class="btn-group float-right">
                                      <button class="btn btn-light" type="button"> <span class="fa fa-chevron-left"></span> </button>
                                      <button class="btn btn-light" type="button"> <span class="fa fa-chevron-right"></span> </button>
                                    </div>-->
                                                </div>
                                                <ul class="messages search-result">
                                                    <li class="message "> <a href="#">
                                                            <div class="actions"> <span class="action">
                                                                    <input type="checkbox" value="check1">
                                                                </span> <span class="priority-high action"> <i
                                                                        class="fa fa-circle text-danger"></i> </span>
                                                            </div>
                                                            <div class="header"><span class="user-icon iconBg1">A</span>
                                                                <span class="from">Asad Khan</span> <span
                                                                    class="date"><span class="fa fa-bookmark-o"></span>
                                                                    <span class="fa fa-paper-clip"></span> Today, 3:47
                                                                    PM</span> </div>
                                                            <div class="title">Lorem ipsum dolor sit amet, consectetur
                                                                adipisicing elit.</div>
                                                            <div class="description">Lorem ipsum dolor sit amet,
                                                                consectetur adipisicing elit, sed do eiusmod tempor
                                                                incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                                minim veniam, quis nostrud exercitation ullamco laboris
                                                                nisi ut aliquip ex ea commodo consequat. Duis aute
                                                                irure dolor in reprehenderit in voluptate velit esse
                                                                cillum dolore eu fugiat nulla pariatur.</div>
                                                        </a> </li>
                                                    <li class="message"> <a href="#">
                                                            <div class="actions"> <span class="action">
                                                                    <input type="checkbox" value="check1">
                                                                </span> <span class="priority-high action"> <i
                                                                        class="fa fa-circle text-info"></i> </span>
                                                            </div>
                                                            <div class="header"><span class="user-icon"><img
                                                                        src="images/user1.jpg" alt="User"></span> <span
                                                                    class="from">Durgesh Verma</span> <span
                                                                    class="date"><span
                                                                        class="text-danger fa fa-bookmark"></span> <span
                                                                        class="fa fa-paper-clip"></span> Today, 3:47
                                                                    PM</span> </div>
                                                            <div class="title">Lorem ipsum dolor sit amet, consectetur
                                                                adipisicing elit, sed do eiusmod tempor incididunt ut
                                                                labore et dolore magna aliqua.</div>
                                                            <div class="description">Lorem ipsum dolor sit amet,
                                                                consectetur adipisicing elit, sed do eiusmod tempor
                                                                incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                                minim veniam, quis nostrud exercitation ullamco laboris
                                                                nisi ut aliquip ex ea commodo consequat. Duis aute
                                                                irure dolor in reprehenderit in voluptate velit esse
                                                                cillum dolore eu fugiat nulla pariatur.</div>
                                                        </a> </li>
                                                    <li class="message"> <a href="#">
                                                            <div class="actions"> <span class="action">
                                                                    <input type="checkbox" value="check1">
                                                                </span> <span class="priority-high action"> <i
                                                                        class="fa fa-circle text-success"></i> </span>
                                                            </div>
                                                            <div class="header"><span class="user-icon iconBg3">M</span>
                                                                <span class="from">Mohd Kafeel Sir</span> <span
                                                                    class="date"><span class="fa fa-bookmark-o"></span>
                                                                    Today, 3:47 PM</span> </div>
                                                            <div class="title">Lorem ipsum dolor sit amet.</div>
                                                            <div class="description">Lorem ipsum dolor sit amet,
                                                                consectetur adipisicing elit, sed do eiusmod tempor
                                                                incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                                minim veniam, quis nostrud exercitation ullamco laboris
                                                                nisi ut aliquip ex ea commodo consequat. Duis aute
                                                                irure dolor in reprehenderit in voluptate velit esse
                                                                cillum dolore eu fugiat nulla pariatur.</div>
                                                        </a> </li>
                                                    <li class="message "> <a href="#">
                                                            <div class="actions"> <span class="action">
                                                                    <input type="checkbox" value="check1">
                                                                </span> <span class="priority-high action"> <i
                                                                        class="fa fa-circle text-success"></i> </span>
                                                            </div>
                                                            <div class="header"><span class="user-icon iconBg4">P</span>
                                                                <span class="from">Pradeep Tripatdhi</span> <span
                                                                    class="date"><span class="fa fa-bookmark-o"></span>
                                                                    Today, 3:47 PM</span> </div>
                                                            <div class="title">Lorem ipsum dolor sit amet, consectetur
                                                                adipisicing elit.</div>
                                                            <div class="description">Lorem ipsum dolor sit amet,
                                                                consectetur adipisicing elit, sed do eiusmod tempor
                                                                incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                                minim veniam, quis nostrud exercitation ullamco laboris
                                                                nisi ut aliquip ex ea commodo consequat. Duis aute
                                                                irure dolor in reprehenderit in voluptate velit esse
                                                                cillum dolore eu fugiat nulla pariatur.</div>
                                                        </a> </li>
                                                    <li class="message"> <a href="#">
                                                            <div class="actions"> <span class="action">
                                                                    <input type="checkbox" value="check1">
                                                                </span> <span class="priority-high action"> <i
                                                                        class="fa fa-circle text-danger"></i> </span>
                                                            </div>
                                                            <div class="header"><span class="user-icon iconBg2">M</span>
                                                                <span class="from">Mohd Adnan</span> <span
                                                                    class="date"><span class="fa fa-bookmark-o"></span>
                                                                    Today, 3:47 PM</span> </div>
                                                            <div class="title">Lorem ipsum dolor sit amet, consectetur
                                                                adipisicing elit, sed do eiusmod tempor incididunt ut
                                                                labore et dolore magna aliqua.</div>
                                                            <div class="description">Lorem ipsum dolor sit amet,
                                                                consectetur adipisicing elit, sed do eiusmod tempor
                                                                incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                                minim veniam, quis nostrud exercitation ullamco laboris
                                                                nisi ut aliquip ex ea commodo consequat. Duis aute
                                                                irure dolor in reprehenderit in voluptate velit esse
                                                                cillum dolore eu fugiat nulla pariatur.</div>
                                                        </a> </li>
                                                    <li class="message"> <a href="#">
                                                            <div class="actions"> <span class="action"> <i
                                                                        class="fa fa-square-o"></i> </span> <span
                                                                    class="action"> <i class="fa fa-star-o"></i> </span>
                                                            </div>
                                                            <div class="header"><span class="user-icon iconBg1">A</span>
                                                                <span class="from">Abdul Azeez</span> <span
                                                                    class="date"><span
                                                                        class="text-danger fa fa-bookmark"></span>
                                                                    Today, 3:47 PM</span> </div>
                                                            <div class="title">Lorem ipsum dolor sit amet.</div>
                                                            <div class="description">Lorem ipsum dolor sit amet,
                                                                consectetur adipisicing elit, sed do eiusmod tempor
                                                                incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                                minim veniam, quis nostrud exercitation ullamco laboris
                                                                nisi ut aliquip ex ea commodo consequat. Duis aute
                                                                irure dolor in reprehenderit in voluptate velit esse
                                                                cillum dolore eu fugiat nulla pariatur.</div>
                                                        </a> </li>
                                                    <li class="message "> <a href="#">
                                                            <div class="actions"> <span class="action"> <i
                                                                        class="fa fa-square-o"></i> </span> <span
                                                                    class="action"> <i class="fa fa-star-o"></i> </span>
                                                            </div>
                                                            <div class="header"><span class="user-icon iconBg5">F</span>
                                                                <span class="from">Farhan Khan</span> <span
                                                                    class="date"><span class="fa fa-bookmark-o"></span>
                                                                    Today, 3:47 PM</span> </div>
                                                            <div class="title">Lorem ipsum dolor sit amet, consectetur
                                                                adipisicing elit.</div>
                                                            <div class="description">Lorem ipsum dolor sit amet,
                                                                consectetur adipisicing elit, sed do eiusmod tempor
                                                                incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                                minim veniam, quis nostrud exercitation ullamco laboris
                                                                nisi ut aliquip ex ea commodo consequat. Duis aute
                                                                irure dolor in reprehenderit in voluptate velit esse
                                                                cillum dolore eu fugiat nulla pariatur.</div>
                                                        </a> </li>
                                                    <li class="message"> <a href="#">
                                                            <div class="actions"> <span class="action">
                                                                    <input type="checkbox" value="check1">
                                                                </span> <span class="priority-high action"> <i
                                                                        class="fa fa-circle text-success"></i> </span>
                                                            </div>
                                                            <div class="header"><span class="user-icon iconBg1">A</span>
                                                                <span class="from">Amit </span> <span class="date"><span
                                                                        class="text-danger fa fa-bookmark"></span>
                                                                    Today, 3:47 PM</span> </div>
                                                            <div class="title">Lorem ipsum dolor sit amet, consectetur
                                                                adipisicing elit, sed do eiusmod tempor incididunt ut
                                                                labore et dolore magna aliqua.</div>
                                                            <div class="description">Lorem ipsum dolor sit amet,
                                                                consectetur adipisicing elit, sed do eiusmod tempor
                                                                incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                                minim veniam, quis nostrud exercitation ullamco laboris
                                                                nisi ut aliquip ex ea commodo consequat. Duis aute
                                                                irure dolor in reprehenderit in voluptate velit esse
                                                                cillum dolore eu fugiat nulla pariatur.</div>
                                                        </a> </li>
                                                    <li class="message"> <a href="#">
                                                            <div class="actions"> <span class="action">
                                                                    <input type="checkbox" value="check1">
                                                                </span> <span class="priority-high action"> <i
                                                                        class="fa fa-circle text-info"></i> </span>
                                                            </div>
                                                            <div class="header"><span class="user-icon iconBg1">A</span>
                                                                <span class="from">Ashok Yadav</span> <span
                                                                    class="date"><span class="fa fa-bookmark-o"></span>
                                                                    Today, 3:47 PM</span> </div>
                                                            <div class="title">Lorem ipsum dolor sit amet.</div>
                                                            <div class="description">Lorem ipsum dolor sit amet,
                                                                consectetur adipisicing elit, sed do eiusmod tempor
                                                                incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                                minim veniam, quis nostrud exercitation ullamco laboris
                                                                nisi ut aliquip ex ea commodo consequat. Duis aute
                                                                irure dolor in reprehenderit in voluptate velit esse
                                                                cillum dolore eu fugiat nulla pariatur.</div>
                                                        </a> </li>
                                                </ul>
                                            </main>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>