USE [master]
GO
/****** Object:  Database [mandiparishadmessageboard]    Script Date: 11/25/2019 1:38:47 AM ******/
CREATE DATABASE [mandiparishadmessageboard]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'mandiparishadmessageboard', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\mandiparishadmessageboard.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'mandiparishadmessageboard_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\mandiparishadmessageboard_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [mandiparishadmessageboard].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [mandiparishadmessageboard]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/25/2019 1:38:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M_GroupMaster]    Script Date: 11/25/2019 1:38:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_GroupMaster](
	[groupId] [int] IDENTITY(1,1) NOT NULL,
	[groupName] [nvarchar](max) NULL,
	[isDeleted] [bit] NULL,
	[transDate] [datetime] NOT NULL,
	[userId] [int] NOT NULL,
	[GroupOrder] [int] NOT NULL,
 CONSTRAINT [PK_dbo.M_GroupMaster] PRIMARY KEY CLUSTERED 
(
	[groupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M_UserMaster]    Script Date: 11/25/2019 1:38:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_UserMaster](
	[userId] [bigint] NOT NULL,
	[userName] [nvarchar](50) NULL,
	[groupID] [int] NULL,
	[LastLogin] [datetime] NULL,
	[password] [nvarchar](50) NULL,
	[Activeflag] [varchar](50) NULL,
	[LastLoginIP] [varchar](50) NULL,
 CONSTRAINT [PK_M_UserMaster] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMailBox]    Script Date: 11/25/2019 1:38:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMailBox](
	[MailId] [bigint] IDENTITY(1,1) NOT NULL,
	[Priority] [int] NULL,
	[SMS] [bit] NULL,
	[Subject] [nvarchar](max) NULL,
	[Message] [nvarchar](max) NULL,
	[PostDate] [datetime] NULL,
	[IsViewed] [bit] NULL,
	[IsArchived] [bit] NULL,
	[IsImportant] [bit] NULL,
	[IsDraft] [bit] NULL,
	[IsTrash] [bit] NULL,
 CONSTRAINT [PK_tblMailBox] PRIMARY KEY CLUSTERED 
(
	[MailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMailInfo]    Script Date: 11/25/2019 1:38:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMailInfo](
	[RowId] [bigint] IDENTITY(1,1) NOT NULL,
	[MailId] [bigint] NULL,
	[Sid] [bigint] NULL,
	[Rid] [bigint] NULL,
 CONSTRAINT [PK_tblMailInfo] PRIMARY KEY CLUSTERED 
(
	[RowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[M_GroupMaster] ON 

INSERT [dbo].[M_GroupMaster] ([groupId], [groupName], [isDeleted], [transDate], [userId], [GroupOrder]) VALUES (3, N'Mandi', 0, CAST(N'2019-11-20T22:19:32.847' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[M_GroupMaster] OFF
INSERT [dbo].[M_UserMaster] ([userId], [userName], [groupID], [LastLogin], [password], [Activeflag], [LastLoginIP]) VALUES (1, N'admin', 1, CAST(N'2019-11-25T00:42:42.120' AS DateTime), N'21232F297A57A5A743894A0E4A801FC3', N'A', N'::1')
INSERT [dbo].[M_UserMaster] ([userId], [userName], [groupID], [LastLogin], [password], [Activeflag], [LastLoginIP]) VALUES (2, N'amit', 3, CAST(N'2019-11-25T00:51:59.307' AS DateTime), N'21232F297A57A5A743894A0E4A801FC3', N'A', N'::1')
INSERT [dbo].[M_UserMaster] ([userId], [userName], [groupID], [LastLogin], [password], [Activeflag], [LastLoginIP]) VALUES (3, N'Sumit', 3, CAST(N'2019-11-25T00:50:50.100' AS DateTime), N'21232F297A57A5A743894A0E4A801FC3', N'A', N'::1')
SET IDENTITY_INSERT [dbo].[tblMailBox] ON 

INSERT [dbo].[tblMailBox] ([MailId], [Priority], [SMS], [Subject], [Message], [PostDate], [IsViewed], [IsArchived], [IsImportant], [IsDraft], [IsTrash]) VALUES (12, 1, 1, N'ui', N'<p>uuii</p>', CAST(N'2019-11-24T21:31:03.497' AS DateTime), 0, 0, 0, 0, 0)
INSERT [dbo].[tblMailBox] ([MailId], [Priority], [SMS], [Subject], [Message], [PostDate], [IsViewed], [IsArchived], [IsImportant], [IsDraft], [IsTrash]) VALUES (13, 2, 1, N'hiihii', N'<p><strong>ghjj</strong></p>', CAST(N'2019-11-25T00:51:25.167' AS DateTime), 0, 0, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[tblMailBox] OFF
SET IDENTITY_INSERT [dbo].[tblMailInfo] ON 

INSERT [dbo].[tblMailInfo] ([RowId], [MailId], [Sid], [Rid]) VALUES (3, 12, 1, 2)
INSERT [dbo].[tblMailInfo] ([RowId], [MailId], [Sid], [Rid]) VALUES (4, 12, 1, 3)
INSERT [dbo].[tblMailInfo] ([RowId], [MailId], [Sid], [Rid]) VALUES (5, 13, 3, 2)
SET IDENTITY_INSERT [dbo].[tblMailInfo] OFF
/****** Object:  StoredProcedure [dbo].[Proc_selectUser]    Script Date: 11/25/2019 1:38:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Proc_selectUser]
@groupID int
 as begin
					  select m.userId,m.userName,g.groupID,g.groupName
					  from 	  M_UserMaster		   m
					  join 		   M_GroupMaster	  g
					  on 	  m.groupID=g.	groupID
 end
GO
/****** Object:  StoredProcedure [dbo].[Proc_userLogin_selectLogin]    Script Date: 11/25/2019 1:38:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[Proc_userLogin_selectLogin]
@userName varchar(50),
@LastLoginIP varchar(50)
as

				     BEGIN
        IF EXISTS ( SELECT  1
                    FROM    M_UserMaster
                    WHERE   UserName = @UserName
                            AND Activeflag = 'A' )
            BEGIN
     
                UPDATE  M_UserMaster
                SET     LastLogin = GETDATE(),
                        LastLoginIp = @LastLoginIP
                WHERE   UserName = @UserName
                        AND Activeflag = 'A';
                SELECT a.userId, 
                        a.userName ,
                        a.Password ,
						a.groupID,
						a.LastLogin,
						a.Activeflag
                FROM    M_UserMaster a
                WHERE   a.UserName = @UserName
            END; 
    END;


GO
/****** Object:  StoredProcedure [dbo].[Sp_NewComposeMail]    Script Date: 11/25/2019 1:38:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[Sp_NewComposeMail]
@priority int  ,
@sms bit  ,
@sub nvarchar(max)  ,
@msg nvarchar(max)  
as
begin
insert into tblMailBox (
Priority,
SMS			  ,Subject,Message,PostDate,IsViewed,IsArchived,IsImportant,IsDraft,IsTrash
)	 values
(
	  @priority,		  @sms,	 @sub,	@msg,getdate(),0,0,0,0,0
)
 DECLARE @id BIGINT 
                SET @id = ( SELECT  SCOPE_IDENTITY()
                          )
                  SELECT  
                       [MailId] 			  
                FROM    tblMailBox		  where mailid=@id 	
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_NewInboxMail]    Script Date: 11/25/2019 1:38:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[Sp_NewInboxMail]
@Rid bigint
as
begin
select 	b.MailId,b.Priority	,b.SMS,b.Subject,b.Message,b.PostDate,m.Rid,u.userId,u.userName
 from tblMailBox  b
 join tblMailInfo  m 
 on  b.MailId=m.MailId
 join M_UserMaster u
 on m.Sid=u.userId
where m.Rid=@rid and b.IsViewed=0 and b.IsArchived=0 and b.IsImportant=0 and b.IsDraft=0 and b.IsTrash=0
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_NewMailInfo]    Script Date: 11/25/2019 1:38:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[Sp_NewMailInfo]
@mailid bigint  ,
@rid bigint  ,
@sid bigint 
as
begin
insert into tblMailInfo(
MailId,Rid,Sid
)	 values
(
	  @mailid, @rid,@sid
)
end
GO
USE [master]
GO
